pydantic==2.9.2
fastapi==0.115.3
pydantic-settings==2.6.0
asyncpg==0.30.0
grpcio==1.70.0
uvicorn==0.32.0
sqlalchemy[asyncio]
dependency_injector==4.45.0
sqladmin==0.20.1
itsdangerous==2.2.0
redis==5.2.1
