name: Deploy Service
description: Deploy a microservice to the specified environment
inputs:
  service:
    description: "Service to deploy (api, events, outbox)"
    required: true
  environment:
    description: "Deployment environment (test, prod)"
    required: true
  ssh_private_key:
    description: "SSH private key"
    required: true
  ssh_port:
    description: "SSH port"
    required: true
  server_ip:
    description: "SSH server IP/host"
    required: true
  project_dir:
    description: "Path to project directory on server"
    required: true

runs:
  using: "composite"
  steps:
    - name: Set up SSH
      shell: bash
      run: |
        mkdir -p ~/.ssh
        echo "${{ inputs.ssh_private_key }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -p ${{ inputs.ssh_port }} ${{ inputs.server_ip }} >> ~/.ssh/known_hosts

    - name: Deploy via SSH
      shell: bash
      env:
        BRANCH: ${{ (inputs.environment == 'prod') && 'main' || 'test' }}
        SECRETS_PATH: ${{ format('charts/{0}/temp-secrets.yaml', inputs.service) }}

      run: |
        ssh -p ${{ inputs.ssh_port }} root@${{ inputs.server_ip }} << EOF
          cd ${{ inputs.project_dir }}
          git fetch
          git checkout $BRANCH
          git pull

          set -e
          sops -d deploy/secrets/${{ inputs.environment }}/common.secrets.yaml > $SECRETS_PATH

          helm upgrade --install \
           netku-proxy-${{ inputs.service }} \
           ./charts/${{ inputs.service }} \
           -f deploy/values/common/${{ inputs.service }}.values.yaml \
           -f deploy/values/common/common.values.yaml \
           -f deploy/values/${{ inputs.environment }}/common.values.yaml \
           -f deploy/values/${{ inputs.environment }}/${{ inputs.service }}.values.yaml \
           --set container.tag=${{ inputs.environment }}-${{ github.run_number }} \
           --dependency-update \
           --namespace netku-${{ inputs.environment }}
          
          set +e
           
          rm -f $SECRETS_PATH
          rm -f ./charts/${{ inputs.service }}/Chart.lock
          rm -rf ./charts/${{ inputs.service }}/charts
        EOF

    - name: Uninstall test via SSH
      shell: bash
      if: inputs.environment == 'prod'
      run: |
        ssh -p ${{ inputs.ssh_port }} root@${{ inputs.server_ip }} << EOF
          cd ${{ inputs.project_dir }}
          helm uninstall --ignore-not-found netku-proxy-test --namespace netku-test
        EOF
