name: Deploy Service
description: Deploy a microservice to the specified environment
inputs:
  service:
    description: "Service to deploy (api, events, outbox)"
    required: true
  environment:
    description: "Deployment environment (test, prod)"
    required: true
  ssh_private_key:
    description: "SSH private key"
    required: true
  ssh_port:
    description: "SSH port"
    required: true
  server_ip:
    description: "SSH server IP/host"
    required: true
  project_dir:
    description: "Path to project directory on server"
    required: true

runs:
  using: "composite"
  steps:
    - name: Deploy
      shell: bash
      env:
        SECRETS_PATH: ${{ format('./charts/{0}/temp-secrets.yaml', inputs.service) }}

      run: |
        cd k8s

        helmfile -f helmfile.yaml.gotmpl \
         --state-values-set \
         tag=${{ inputs.environment }}-${{ github.run_number }} \ 
         -e ${{ inputs.environment }} \
         -l svc=${{ inputs.service }} \
         --skip-refresh \
         apply

    - name: Uninstall test
      shell: bash
      if: inputs.environment == 'prod'
      run: |
        helm uninstall --ignore-not-found netku-proxy-test --namespace netku-test
